* {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}
.container {
  max-width: 1440px;
}
p {
  color: #9194a1;
}
h1,
h2,
h5 {
  color: #252b46;
}

.bookmark * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bookmark {
  display: flex;
  height: 80px;
  max-width: 1440px;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px 0 100px;
  flex-wrap: wrap;
  margin: auto;
  .simple__img--hover {
    position: fixed;
    z-index: 12;
    top: 0;
    display: none;
    width: 50%;
  }
  a:hover .simple__img--hover {
    display: block;
  }
  .bookmark__ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    .bookmark__li {
      margin: 0 5px;
      padding: 10px 0;
      .bookmark__a {
        text-transform: uppercase;
        color: #252b46;
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        padding: 8px 15px;
        border-radius: 5px;
        letter-spacing: 1px;
        transition: all 0.3s ease;
      }
      .bookmark__a.active,
      .bookmark__a:hover {
        color: #fa5757;
        text-decoration: none;
      }
    }
    li:last-child .bookmark__a {
      border: 3px solid #fa5757;
      background-color: #fa5757;
      color: white;
    }
    .bookmark__li:last-child .bookmark__a.active,
    .bookmark__li:last-child .bookmark__a:hover {
      background-color: white;
    }
  }
  .bookmark__input {
    display: none;
  }
  .bookmark__label img {
    cursor: pointer;
    display: none;
  }
}

.simple__row {
  margin-bottom: 70px;
  .simple__img {
    position: fixed;
    z-index: 12;
    top: 0;
    display: none;
    width: 50%;
  }
  .simple__text {
    padding-top: 50px;
    margin-bottom: 50px;
    .simple__h1,
    .simple__h2 {
      text-align: center;
      font-weight: 500;
      max-width: 500px;
      text-align: left;
      padding-left: 30px;
      padding-right: 30px;
    }
    .simple__p {
      text-align: center;
      padding-left: 30px;
      padding-right: 30px;
      font-weight: 400;
      max-width: 500px;
      text-align: left;
    }
    .simple__buttons {
      display: flex;
      padding-left: 30px;
      padding-right: 30px;
      justify-content: start;
      max-width: 500px;
      .simple__firefox {
        border: 2px solid white;
        box-shadow: 0 4px 2px -2px #9194a1;
        margin: 10px;
        white-space: nowrap;
      }
      .simple__firefox:hover {
        border: 2px solid #252b46;
      }
      .simple__chrome:hover {
        border: 2px solid #5355df;
        background-color: white;
        color: #5355df;
      }
      .simple__chrome {
        white-space: nowrap;
        background-color: #5355df;
        border: 2px solid #5355df;
        color: white;
        margin: 10px;
      }
      button {
        background-color: white;
        border-style: none;
        border-radius: 7px;
      }
    }
  }
  .simple__position--center {
    display: flex;
    justify-content: center;
  }
  .simple__position {
    min-height: 350px;
    position: relative;
    a {
      position: absolute;
      z-index: 9;
      max-width: 80%;
      .simple__svg--color {
        max-width: 100%;
        height: auto;
        display: inline-block;
      }
      .simple__svg {
        max-width: 100%;
        height: auto;
        display: inline-block;
        g {
          g {
            path {
              fill: #5355df;
            }
          }
        }
      }
    }
    .simple__oval {
      position: absolute;
      z-index: 8;
      top: 150px;
      left: 20%;
      width: 70%;
      height: 15vw;
      background: #5355df;
      display: inline-block;
      line-height: 250px;
      border-radius: 250px 0 0 250px;
    }
    .simple__oval--side {
      position: absolute;
      z-index: 8;
      top: 150px;
      right: 20%;
      width: 85%;
      height: 15vw;
      background: #5355df;
      display: inline-block;
      line-height: 250px;
      border-radius: 0 250px 250px 0;
    }
  }
}

.features {
  margin-top: 20px;
  margin-bottom: 50px;
  .features__h1 {
    text-align: center;
    font-weight: 500;
  }
  .features__h2 {
    text-align: center;
    font-weight: 500;
  }
  .features__p {
    max-width: 480px;
    text-align: center;
    margin: auto;
    font-weight: 400;
  }
  .features__buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    .features__button {
      border-bottom: 1px solid #9194a1;
    }
    .features__btn {
      background-color: white;
      border-style: none;
      border-radius: 1px;
      margin: 0 20px;
      white-space: nowrap;
      height: 40px;
    }
    button:hover {
      color: #fa5757;
    }
    div:first-child button {
      border-bottom: 3px solid #fa5757;
    }
  }
}

.browsers {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  .browsers__div:nth-child(2) {
    margin-top: 50px;
  }
  .browsers__div:nth-child(3) {
    margin-top: 100px;
  }
  .browsers__div {
    padding-top: 10px;
    max-width: 200px;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    box-shadow: 0px 2px 3px #9194a1, -3px 2px 4px #9194a1, 3px 2px 4px #9194a1;
    margin-bottom: 10px;
    height: 250px;
    .browsers__img {
      display: block;
      margin: auto;
    }
    .browsers__h5 {
      margin-top: 10px;
      text-align: center;
      font-weight: 400;
    }
    .browsers__p {
      font-size: 14px;
      text-align: center;
      font-weight: 400;
    }
    .browsers__btn {
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: #5355df;
      color: white;
      border: none;
      border-radius: 7px;
      max-height: 29px;
    }
    .browsers__btn:hover {
      color: #5355df;
      background-color: white;
      border: 2px solid #5355df;
      white-space: nowrap;
    }
    .browsers__dots {
      display: block;
      margin: auto;
    }
  }
}

.accordion {
  margin-top: 50px;
  .accordion__more {
    text-align: center;
    .accordion__more-btn {
      background-color: #5355df;
      color: white;
      border-radius: 7px;
      border: none;
      margin: auto;
    }
  }

  .accordion__div {
    width: 90%;
    max-width: 600px;
    margin: 2rem auto;
    .accordion__item.active svg {
      transform: rotate(180deg);
      cursor: pointer;
      path {
        stroke: #fa5757;
      }
    }
    .accordion__item {
      background-color: #fff;
      color: #111;
      margin: 1rem 0;
      border-radius: 7px;
      position: relative;

      .accordion__item-header {
        padding: 0.5rem 3rem 0.5rem 1rem;
        min-height: 3.5rem;
        line-height: 1.25rem;
        font-weight: bold;
        display: flex;
        align-items: center;

        cursor: pointer;
        box-shadow: 0px 2px 2px #9194a1, 0px -2px 2px #9194a1;
      }
      .accordion__item-header:hover {
        color: #fa5757;
      }
      svg {
        position: absolute;
        right: 1rem;
        top: 26px;
        cursor: pointer;
      }
      .accordion__item-body {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        .accordion__item-body-content {
          padding: 1rem;
          line-height: 1.5rem;
          border-top: 1px solid;
          border-image: linear-gradient(
              to right,
              transparent,
              #252b46,
              transparent
            )
            1;
        }
      }
    }
  }
}

.already {
  margin-top: 50px;
  padding: 50px 0 0;
  background-color: #5355df;
  color: white;
  .already__join {
    text-align: center;
    p {
      display: inline-block;
      font-weight: 400;
      color: white;
    }
    h1 {
      max-width: 500px;
      margin: auto;
      font-weight: 500;
      padding: 0 10px;
      color: white;
    }
    div {
      text-transform: uppercase;
    }
  }
  .already__form {
    display: flex;
    justify-content: center;
    margin: 30px;
    form.submit-error .already__submit input {
      color: #fa5757;
      border: 2px solid #fa5757;
      background-color: #fff;
    }
    form {
      display: flex;
      justify-content: center;
      max-width: 600px;
      width: 100%;
      .already__submit {
        width: 35%;
        display: inline-block;
        vertical-align: top;
        input {
          width: 100%;
          margin: 0 5px;
          border-radius: 7px;
          color: white;
          background-color: #fa5757;
          border: none;
          height: 33px;
        }
      }
      .already__email.error img {
        visibility: visible;
      }
      .already__email.error input {
        border: 2px solid #fa5757;
      }
      .already__email {
        width: 55%;
        display: inline-block;
        position: relative;
        height: 50px;
        input {
          display: block;
          width: 100%;
        }
        input::placeholder {
          padding-left: 10px;
        }
        .error {
          visibility: visible;
        }
        small {
          padding-left: 10px;
          position: absolute;
          bottom: 0;
          left: 0;
          visibility: hidden;
          background-color: #fa5757;
          color: white;
          width: 100%;
        }
        .already__img {
          position: absolute;
          top: 5px;
          right: 10px;
          visibility: hidden;
        }
      }
    }
  }
}

footer {
  padding: 0 50px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #252b46;
  color: white;
  .already__brand-title {
    cursor: pointer;
    svg {
      margin: 0 5px;
    }
    svg:hover {
      path {
        fill: #fa5757;
      }
    }
  }
  .already__footer {
    display: flex;
    min-height: 80px;
    .already__brand-title {
      margin-right: 10px;
      display: flex;
      align-items: center;
      svg {
        g {
          path {
            fill: white;
          }
        }
      }
    }
    .already__navbar-links {
      height: 100%;
      min-height: 80px;
      display: flex;
      align-items: center;
      .already__ul {
        display: flex;
        margin: 0;
        padding: 0;
        .already__li {
          list-style: none;
          text-transform: uppercase;
          .already__a {
            display: block;
            text-decoration: none;
            color: white;
            padding: 1rem;
          }
          .already__a:hover {
            color: #fa5757;
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .bookmark {
    padding: 0 40px 0 50px;
  }
}

@media (max-width: 990px) {
  nav {
    img {
      width: 100%;
    }
  }
  .simple__row {
    .simple__img {
      width: 100%;
    }
    .simple__position {
      display: flex;
      justify-content: center;
      a {
        max-width: 60%;
      }
      .simple__oval {
        left: 35%;
        width: 50%;
        height: 25vw;
      }
      .simple__oval--side {
        right: 35%;
        width: 55%;
        height: 25vw;
      }
    }
    .simple__text {
      .simple__h1,
      .simple__h2,
      .simple__buttons,
      .simple__p {
        margin: 10px auto;
      }
    }
  }

  .bookmark {
    h2,
    .buttons-bookmark,
    p {
      margin: auto;
      margin-top: 10px;
    }
    h2 {
      text-align: center;
    }
    .buttons-bookmark {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
  }
}

@media (max-width: 920px) {
  .bookmark.active {
    background-color: #252b46;
    svg g path {
      fill: white;
    }
    svg g g circle {
      fill: white;
    }
    svg g g path {
      fill: #252b46;
    }
    .bookmark__img {
      content: url(images/icon-close.svg);
    }
  }
  .bookmark {
    .bookmark__ul {
      position: fixed;
      top: 80px;
      left: -100%;
      background: #252b46;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
      z-index: 20;
      .bookmark__li {
        width: 90%;
        border-top: 1px solid #9194a1;
        margin: 0 auto;
        .bookmark__a {
          color: white;
          width: 100%;
          margin-left: -100%;
          display: block;
          font-size: 20px;
          transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          margin: 0 auto;
        }
      }
      .bookmark__li:last-child .bookmark__a {
        border: 3px solid white;
        background-color: #252b46;
      }
    }
    #click:checked ~ .bookmark__ul {
      left: 0;
    }
    .bookmark__label img {
      display: block;
    }
  }
}

@media (max-width: 800px) {
  footer {
    justify-content: center;
    flex-direction: column;
    .already__brand-title {
      margin: 20px 0;
    }
    .already__footer {
      flex-direction: column;
      .already__navbar-links {
        display: flex;
        .already__ul {
          width: 100%;
          flex-direction: column;
          .already__li {
            text-align: center;
            .already__a {
              padding: 0.5rem 1rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 706px) {
  .browsers {
    display: flex;
    flex-wrap: wrap;
    .browsers__div:nth-child(3) {
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 576px) {
  nav {
    li {
      display: list-item;
      border-top: 1px solid #9194a1;
    }
  }
  .simple__row {
    .simple__text {
      .simple__h1,
      .simple__p {
        text-align: center;
      }
      .simple__buttons {
        display: flex;
        justify-content: center;
      }
    }
  }
  .browsers {
    .browsers__div {
      margin-top: 20px !important;
    }
  }
  .simple__row {
    .simple__position {
      .simple__oval {
        top: 100px;
      }
      .simple__oval--side {
        top: 100px;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .simple__row {
    display: flex;
    flex-direction: column-reverse;
  }
  .features {
    .features__buttons {
      display: flex;
      flex-direction: column;
      .features__button {
        display: flex;
        justify-content: center;
      }
      .features__button:first-child {
        border-top: 1px solid #9194a1;
      }
    }
  }
  .browsers {
    flex-direction: column;
    .browsers__div {
      margin: auto;
    }
    .browsers__div:nth-child(2) {
      margin-top: 10px;
    }
    .browsers__div:nth-child(3) {
      margin-top: 10px;
    }
  }
  .already {
    .already__form {
      flex-direction: column;
      input {
        width: 80%;
      }
    }
  }
}
